<!DOCTYPE html>
<html>
  <head>
    <title>Equipe REICER de Rfactor </title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>

  </head>
  <body>
    <div>
      <header>
        <%= image_tag("Header_team.jpg", :alt => "Liga REICER") %>
      </header>
      <br/>
      <nav>
        <ul>
          <%= link_to "Home", 'home' %>
          <%= link_to "Pilotos", 'pilotos' %>
          <%= link_to "Fotos", 'fotos' %>
          <%= link_to "Fórum", 'http://ligareicer.forumbrasil.net/' %><br/>
        </ul>
      </nav>

      <%= yield %>

    </div>
  </body>
</html>
