<!DOCTYPE html>
<html>
  <head>
    <title>Equipe REICER de Rfactor </title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>

  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("Header_team.jpg", :alt => "Liga REICER") %>
      </header>
      <nav class="round nav">
        <ul>
          <%= link_to "HOME", 'home' %><br/>
          <%= link_to "PILOTOS", 'pilotos' %><br/>
          <%= link_to "FOTOS", 'fotos' %><br/>
          <%= link_to "FÓRUM", 'http://ligareicer.forumbrasil.net/' %><br/>
        </ul>
      </nav>
      <section class="round section">
      <%= yield %>
      </section>
      <nav class="round parceiros">
        <ul>
          <%= link_to image_tag("ReicerLeague.gif", :alt => "Liga REICER"), 'http://ligareicer.heroku.com' %><br/>
          <%= link_to image_tag("Rfactor.jpg", :alt => "Página do jogo Rfactor"), 'http://www.rfactor.net/' %><br/>
          <%= link_to image_tag("RfactorCentral.jpg", :alt => "Rfactor Central"), 'http://www.rfactorcentral.com/' %><br/>
          <%= link_to "Speed Vocalnit", 'http://www.speedvocalnit.com/' %><br/>
        </ul>
      </nav>
      <br/>
      <br/>
      <br/>
    </div>
  </body>
</html>
